## Frontend
# dependencies
/frontend/node_modules
/frontend/.pnp
/frontend/.pnp.*
/frontend/.yarn/*
!/frontend/.yarn/patches
!/frontend/.yarn/plugins
!/frontend/.yarn/releases
!/frontend/.yarn/versions

# Testing
/frontend/coverage

# Next.js
/frontend/.next/
/frontend/out/

# Production
/frontend/build

# Misc
.DS_Store
*.pem

# Debug
/frontend/npm-debug.log*
/frontend/yarn-debug.log*
/frontend/yarn-error.log*
/frontend/.pnpm-debug.log*

# ENV files
/frontend.env*

# Vercel
/frontend/.vercel

# Typescript
/frontend/*.tsbuildinfo
/frontend/next-env.d.ts

## Backend
# Backend specific ignores
/backend/target/
!/backend/.mvn/wrapper/maven-wrapper.jar
!/backend/**/src/main/**/target/
!/backend/**/src/test/**/target/

### STS ###
/backend/.apt_generated
/backend/.classpath
/backend/.factorypath
/backend/.project
/backend/.settings
/backend/.springBeans
/backend/.sts4-cache

### NetBeans ###
/backend/nbproject/private/
/backend/nbbuild/
/backend/dist/
/backend/nbdist/
/backend/.nb-gradle/
/backend/build/
!/backend/**/src/main/**/build/
!/backend/**/src/test/**/build/

## IDEs
/.vscode
/.idea
/*.iws
/*.iml
/*.ipr